<!-- 
<br>
<mat-card>
  <section class="mat-typrograohy" >
    <h3>Update User</h3>
  </section>
  <mat-divider> </mat-divider>
  <br>
  <form [formGroup]="updateForm" class="edit-form">
    <mat-form-field class="field-full-width" >
      <input matInput placeholder="Price" formControlName="prices" #fullName>
    </mat-form-field>

        <mat-divider> </mat-divider><br><br>
        <button mat-raised-button color="accent" [routerLink]="['/list']"  >Cancel</button>
        <button type="submit" (click)="updateUser(prices.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary" [routerLink]="['/list']"  >Save</button>

  </form>
</mat-card> -->
