<div>
  <h2>Approve Meeting List</h2>
 <table class="table table-hover"   >
   <tr>
    <!-- <th scope="col">Gem Id</th> -->
     <th scope="col">Meeting Id</th>
     <th scope="col">Link</th>
     <th scope="col">User Id</th>
     <th scope="col">Time</th>
     <th scope="col">Admin Approve</th>


   </tr>
<tr class="table-secondary" *ngFor="let u of  meetingApprove"  >
<td>{{u.meetingId}}</td>
<td>{{u.link}}</td>
<td> {{u.userId}}</td>
<td> {{u.time}}</td>
<td> {{u.approve? ' Yes':'No'}}</td>
 <td>


  <button mat-button color="warn" (click)="deleteMeet(u.meetingId)" >Delete</button></td>
   </tr>
 </table>
</div>
