
<div class="scene">

  <div class="rubik">

    <div class="face">

      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
    </div>
    <div class="face">
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
    </div>
    <div class="face">
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
      <div class="squares"></div>
    </div>
  </div>
</div>


<!--<h3>Select a template</h3>
<div class="t">
  <div class="temp" ><p>template 01</p> <h1>template 01</h1> </div>
  <div class="temp" ><p>template 01</p><h1>template 02</h1></div>
  <div class="temp" ><p>template 01</p> <h1>template 03</h1></div>
</div>

.t{
  width:1020px;
margin: 0 auto;
}
.temp{
  height:400px;
  width:220px;
  margin: 50px;
  float: left;
  background-color: blueviolet;
}
-->
<div>

  <div style="height:400px" class="jumbotron">
  <h1 class="display-3">Welcome To Teckwire Admin</h1>
  <!-- <p class="lead">As we are in the era where e-marketing trend has peak-up to an outstanding level most of the producers want a way to market their products by using online system.This is the solution for that...</p> -->
  <hr class="my-4">
  <!-- <p>Now without any IT knowledge you can do it easily. </p> -->
  <p class="lead">
    <a  href="#" role="button">Learn more</a>
  </p>
</div>

</div>
