<br>
<mat-card>
  <section class="mat-typrograohy" >
    <h3>Create A New Admin</h3>
  </section>
  <mat-divider> </mat-divider>
  <br>
  <form [formGroup]="createForm" class="create-form">
    <mat-form-field class="field-full-width" >
      <input matInput placeholder=" Full Name" formControlName="fullName" #fullName>
    </mat-form-field>
    <mat-form-field class="field-full-width" >
        <input matInput placeholder="Email" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field class="field-full-width" >
          <input type="password" matInput placeholder="Password" formControlName="password" #password>
        </mat-form-field>
        <mat-divider> </mat-divider><br><br>
        <button mat-raised-button color="accent" [routerLink]="['/home']"  >Cancel</button>
        <button type="submit" (click)="addUser(fullName.value,email.value,password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary"   >Create</button>

  </form>
</mat-card>
