<div>
  <h2>Pending User List</h2>
 <table class="table table-hover"   >
   <tr>
    <th scope="col">User Id</th>
     <th scope="col">First Name</th>
     <th scope="col">Last Name</th>
     <th scope="col">Email</th>
     <th scope="col">Address</th>
     <th scope="col">User Type</th>
     <th scope="col">Admin Approve</th>

   </tr>
   <tr class="table-secondary" *ngFor="let u of userListApprove"  >
    <td>{{u.id}}</td>
<td>{{u.firstName}}</td>
<td> {{u.lastName}}</td>
<td> {{u.email}}</td>
<td> {{u.address}}</td>
<td> {{u.userType? 'Seller':'Buyer'}}</td>
<td> {{u.approve? ' Yes':'No'}}</td>
<td>
  <button mat-button color="primary" (click)="editUser(u.id)" >Approve</button>
  <button mat-button color="warn" (click)="deleteUser(u.id)" >Delete</button></td>
   </tr>
 </table>
</div>
