
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a selected class="nav-link" routerLink="/home"><b>Home</b></a>
          </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">NewUsers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/olduser">OLdUsers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newgem">NewGems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/oldgem">OldGems</a>
      </li>
<!--
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li> -->
      <li class="nav-item">

          <button mat-raised-button color="accent" [routerLink]="['/login']"  >Login</button>
        </li>


    </ul>

  </div>
</nav>


<div style="text-align:center">
  <router-outlet></router-outlet>
</div>


